# Make dutch school dataset out of a several different data files

All the data are open, I got from this website: https://duo.nl/open_onderwijsdata/databestanden.

## 1. Data about exams scores

First we need to pool a few .cvs files about exam score from different years and then will clean data and deal with missing values:

In [773]:
import pandas as pd 
data_score_2014 = pd.read_csv("input_data/Test_score_2014_2015.csv", error_bad_lines=False, sep=';', encoding = "ISO-8859-1") 
data_score_2015 = pd.read_csv("input_data/Test_score_2015_2016.csv", error_bad_lines=False, sep=';', encoding = "ISO-8859-1") 
data_score_2016 = pd.read_csv("input_data/Test_score_2016_2017.csv", error_bad_lines=False, sep=';', encoding = "ISO-8859-1") 
data_score_2017 = pd.read_csv("input_data/Test_score_2017_2018.csv", error_bad_lines=False, sep=';', encoding = "ISO-8859-1") 
data_score_2018 = pd.read_csv("input_data/Test_score_2018_2019.csv", error_bad_lines=False, sep=';', encoding = "ISO-8859-1") 

data_score_2018.head()

,PEILDATUM_LEERLINGEN,PRIKDATUM_SCORES,BRIN_NUMMER,VESTIGINGSNUMMER,INSTELLINGSNAAM_VESTIGING,POSTCODE_VESTIGING,PLAATSNAAM,GEMEENTENUMMER,GEMEENTENAAM,PROVINCIE,...,CET_AANTAL,CET_GEM,IEP_AANTAL,IEP_GEM,ROUTE8_AANTAL,ROUTE8_GEM,DIA_AANTAL,DIA_GEM,AMN_AANTAL,AMN_GEM
0,20190417,20190725,00AP,0,Wereldwijs,2716PH,ZOETERMEER,637,Zoetermeer,Zuid-Holland,...,11,"538,636363636364",0,,0,,0,,0,
1,20190417,20190725,00AR,0,"BS ""De Maasparel""",6107AW,STEVENSWEERT,1641,Maasgouw,Limburg,...,17,"537,588235294118",0,,0,,0,,0,
2,20190417,20190725,00AV,0,De Morgenster,3201CN,SPIJKENISSE,1930,Nissewaard,Zuid-Holland,...,12,"532,5",0,,0,,0,,0,
3,20190417,20190725,00AZ,0,De Stapsteen,2971AR,BLESKENSGRAAF CA,1927,Molenwaard,Zuid-Holland,...,0,,14,"84,3571428571429",0,,0,,0,
4,20190417,20190725,00BA,0,OBS De Klimboom,6666EB,HETEREN,1734,Overbetuwe,Gelderland,...,0,,16,"83,625",0,,0,,0,

I noticed the data_score_2014 dataframe some columns named using small letters, but in other dataframes only capital letters are using, let's change it:

In [774]:
data_score_2014.rename(columns = {'cet_gem': 'CET_GEM', 'iep_gem': 'IEP_GEM', 'route8_gem':'ROUTE8_GEM', 'Leerjaar_8':'LEERJAAR_8'}, inplace = True)

Now let's merge everything in one dataframe:

In [775]:
from functools import reduce
data_frames = [data_score_2014, data_score_2015, data_score_2016, data_score_2017, data_score_2018]
data_score = pd.concat(data_frames).fillna(' ')
print(data_score_2014.shape)
print(data_score_2015.shape)
print(data_score_2016.shape)
print(data_score_2017.shape)
print(data_score_2018.shape)
print(data_score.shape)

(6920, 23)
(6851, 21)
(6751, 27)
(6658, 25)
(6579, 25)
(33759, 29)

In [776]:
data_score.head()

,PEILDATUM_LEERLINGEN,PRIKDATUM_SCORES,BRIN_NUMMER,VESTIGINGSNUMMER,INSTELLINGSNAAM_VESTIGING,POSTCODE_VESTIGING,PLAATSNAAM,GEMEENTENUMMER,GEMEENTENAAM,PROVINCIE,...,ROUTE8_AANTAL,ROUTE8_GEM,DREMPEL_AANTAL,drempel_gem,DIA_AANTAL,DIA_GEM,CESAN_AANTAL,CESAN_GEM,AMN_AANTAL,AMN_GEM
0,20141001,20150918,00AP,0,De Schanskorf,2715BT,ZOETERMEER,637,Zoetermeer,Zuid-Holland,...,"0,00","0,00","0,00","0,00",,,,,,
1,20141001,20150918,00AR,0,"BS ""De Maasparel""",6109AM,OHE EN LAAK,1641,Maasgouw,Limburg,...,"0,00","0,00","0,00","0,00",,,,,,
2,20141001,20150918,00AV,0,De Morgenster,3201CN,SPIJKENISSE,612,Spijkenisse,Zuid-Holland,...,"0,00","0,00","0,00","0,00",,,,,,
3,20141001,20150918,00AZ,0,De Kiezel en de Kei,2971AR,BLESKENSGRAAF CA,1927,Molenwaard,Zuid-Holland,...,"0,00","0,00","0,00","0,00",,,,,,
4,20141001,20150918,00BA,0,OBS De Klimboom,6666EB,HETEREN,1734,Overbetuwe,Gelderland,...,"0,00","0,00","0,00","0,00",,,,,,

In [777]:
print(data_score.columns)

Index(['PEILDATUM_LEERLINGEN', 'PRIKDATUM_SCORES', 'BRIN_NUMMER',
       'VESTIGINGSNUMMER', 'INSTELLINGSNAAM_VESTIGING', 'POSTCODE_VESTIGING',
       'PLAATSNAAM', 'GEMEENTENUMMER', 'GEMEENTENAAM', 'PROVINCIE', 'SOORT_PO',
       'DENOMINATIE_VESTIGING', 'BEVOEGD_GEZAG_NUMMER', 'LEERJAAR_8',
       'ONTHEFFING_REDEN_ND', 'CET_AANTAL', 'CET_GEM', 'IEP_AANTAL', 'IEP_GEM',
       'ROUTE8_AANTAL', 'ROUTE8_GEM', 'DREMPEL_AANTAL', 'drempel_gem',
       'DIA_AANTAL', 'DIA_GEM', 'CESAN_AANTAL', 'CESAN_GEM', 'AMN_AANTAL',
       'AMN_GEM'],
      dtype='object')

Let's check do we have null values:

In [778]:
print(data_score.isnull().sum())
print(data_score.isna().sum())

PEILDATUM_LEERLINGEN         0
PRIKDATUM_SCORES             0
BRIN_NUMMER                  0
VESTIGINGSNUMMER             0
INSTELLINGSNAAM_VESTIGING    0
POSTCODE_VESTIGING           0
PLAATSNAAM                   0
GEMEENTENUMMER               0
GEMEENTENAAM                 0
PROVINCIE                    0
SOORT_PO                     0
DENOMINATIE_VESTIGING        0
BEVOEGD_GEZAG_NUMMER         0
LEERJAAR_8                   0
ONTHEFFING_REDEN_ND          0
CET_AANTAL                   0
CET_GEM                      0
IEP_AANTAL                   0
IEP_GEM                      0
ROUTE8_AANTAL                0
ROUTE8_GEM                   0
DREMPEL_AANTAL               0
drempel_gem                  0
DIA_AANTAL                   0
DIA_GEM                      0
CESAN_AANTAL                 0
CESAN_GEM                    0
AMN_AANTAL                   0
AMN_GEM                      0
dtype: int64
PEILDATUM_LEERLINGEN         0
PRIKDATUM_SCORES             0
BRIN_NUMMER                  0
VESTIGINGSNUMMER             0
INSTELLINGSNAAM_VESTIGING    0
POSTCODE_VESTIGING           0
PLAATSNAAM                   0
GEMEENTENUMMER               0
GEMEENTENAAM                 0
PROVINCIE                    0
SOORT_PO                     0
DENOMINATIE_VESTIGING        0
BEVOEGD_GEZAG_NUMMER         0
LEERJAAR_8                   0
ONTHEFFING_REDEN_ND          0
CET_AANTAL                   0
CET_GEM                      0
IEP_AANTAL                   0
IEP_GEM                      0
ROUTE8_AANTAL                0
ROUTE8_GEM                   0
DREMPEL_AANTAL               0
drempel_gem                  0
DIA_AANTAL                   0
DIA_GEM                      0
CESAN_AANTAL                 0
CESAN_GEM                    0
AMN_AANTAL                   0
AMN_GEM                      0
dtype: int64

It looks like we don't have NaN or null values.

In [779]:
print(data_score.dtypes)

PEILDATUM_LEERLINGEN          int64
PRIKDATUM_SCORES              int64
BRIN_NUMMER                  object
VESTIGINGSNUMMER              int64
INSTELLINGSNAAM_VESTIGING    object
POSTCODE_VESTIGING           object
PLAATSNAAM                   object
GEMEENTENUMMER                int64
GEMEENTENAAM                 object
PROVINCIE                    object
SOORT_PO                     object
DENOMINATIE_VESTIGING        object
BEVOEGD_GEZAG_NUMMER          int64
LEERJAAR_8                    int64
ONTHEFFING_REDEN_ND          object
CET_AANTAL                   object
CET_GEM                      object
IEP_AANTAL                   object
IEP_GEM                      object
ROUTE8_AANTAL                object
ROUTE8_GEM                   object
DREMPEL_AANTAL               object
drempel_gem                  object
DIA_AANTAL                   object
DIA_GEM                      object
CESAN_AANTAL                 object
CESAN_GEM                    object
AMN_AANTAL                   object
AMN_GEM                      object
dtype: object

There are few columns has type 'object', but they should has 'int' or 'float' type, so I will check why and put missing values there:

In [780]:
def fill_missing_zero_value(dataframe, column):
    dataframe.loc[dataframe[column] == ' ', column] = 0

def convert_to_numeric(dataframe, column):
    dataframe[column] = dataframe[column].astype(str).str.replace(',','.')
    dataframe[column] = pd.to_numeric(dataframe[column])

def get_numeric_column(dataframe, column):
    fill_missing_zero_value(dataframe, column)
    convert_to_numeric(dataframe, column)

get_numeric_column(data_score, 'ONTHEFFING_REDEN_ND')
data_score['ONTHEFFING_REDEN_ND'].astype(int)

get_numeric_column(data_score, 'CET_AANTAL')
data_score['CET_AANTAL'] = data_score['CET_AANTAL'].astype(int)
get_numeric_column(data_score, 'CET_GEM')

get_numeric_column(data_score, 'IEP_AANTAL')
data_score['IEP_AANTAL'] = data_score['IEP_AANTAL'].astype(int)
get_numeric_column(data_score, 'IEP_GEM')

get_numeric_column(data_score, 'ROUTE8_AANTAL')
data_score['ROUTE8_AANTAL'] = data_score['ROUTE8_AANTAL'].astype(int)
get_numeric_column(data_score, 'ROUTE8_GEM')

get_numeric_column(data_score, 'DREMPEL_AANTAL')
data_score['DREMPEL_AANTAL'] = data_score['DREMPEL_AANTAL'].astype(int)
get_numeric_column(data_score, 'drempel_gem')

get_numeric_column(data_score, 'DIA_AANTAL')
data_score['DIA_AANTAL'] = data_score['DIA_AANTAL'].astype(int)
get_numeric_column(data_score, 'DIA_GEM')

get_numeric_column(data_score, 'CESAN_AANTAL')
data_score['CESAN_AANTAL'] = data_score['CESAN_AANTAL'].astype(int)
get_numeric_column(data_score, 'CESAN_GEM')

get_numeric_column(data_score, 'AMN_AANTAL')
data_score['AMN_AANTAL'] = data_score['AMN_AANTAL'].astype(int)
get_numeric_column(data_score, 'AMN_GEM')

print(data_score.dtypes)

PEILDATUM_LEERLINGEN           int64
PRIKDATUM_SCORES               int64
BRIN_NUMMER                   object
VESTIGINGSNUMMER               int64
INSTELLINGSNAAM_VESTIGING     object
POSTCODE_VESTIGING            object
PLAATSNAAM                    object
GEMEENTENUMMER                 int64
GEMEENTENAAM                  object
PROVINCIE                     object
SOORT_PO                      object
DENOMINATIE_VESTIGING         object
BEVOEGD_GEZAG_NUMMER           int64
LEERJAAR_8                     int64
ONTHEFFING_REDEN_ND          float64
CET_AANTAL                     int64
CET_GEM                      float64
IEP_AANTAL                     int64
IEP_GEM                      float64
ROUTE8_AANTAL                  int64
ROUTE8_GEM                   float64
DREMPEL_AANTAL                 int64
drempel_gem                  float64
DIA_AANTAL                     int64
DIA_GEM                      float64
CESAN_AANTAL                   int64
CESAN_GEM                    float64
AMN_AANTAL                     int64
AMN_GEM                      float64
dtype: object

Next I would like to make new column named 'AANTAL_LEERLINGEN_EXAMEN' which would means the amount of pupils who took the exam:

In [781]:
new_column = data_score["LEERJAAR_8"] - data_score["ONTHEFFING_REDEN_ND"]
data_score.insert (13, "AANTAL_LEERLINGEN_EXAMEN", new_column)

And also I would like to change columns with date info to columns with just a year of the exam:

In [782]:
data_score['PRIKDATUM_SCORES'] = data_score['PRIKDATUM_SCORES'].map({
    20150918 : 2015,
    20160722 : 2016,
    20170722 : 2017,
    20180725 : 2018,
    20190725 : 2019,
})
data_score.rename(columns = {'PRIKDATUM_SCORES': 'EXAMEN_JAAR'}, inplace = True)

In [783]:
print(data_score['EXAMEN_JAAR'].value_counts())

2015    6920
2016    6851
2017    6751
2018    6658
2019    6579
Name: EXAMEN_JAAR, dtype: int64

Let's make a new field which values would be unique for each school (and which we would use later to merge different dataframes):

In [784]:
new_column = data_score["VESTIGINGSNUMMER"].astype(str) + data_score["BRIN_NUMMER"]
data_score.insert (0, "SCHOOL_ID", new_column)

In [785]:
print(data_score.shape)
print(data_score.columns)
data_score.head()

(33759, 31)
Index(['SCHOOL_ID', 'PEILDATUM_LEERLINGEN', 'EXAMEN_JAAR', 'BRIN_NUMMER',
       'VESTIGINGSNUMMER', 'INSTELLINGSNAAM_VESTIGING', 'POSTCODE_VESTIGING',
       'PLAATSNAAM', 'GEMEENTENUMMER', 'GEMEENTENAAM', 'PROVINCIE', 'SOORT_PO',
       'DENOMINATIE_VESTIGING', 'BEVOEGD_GEZAG_NUMMER',
       'AANTAL_LEERLINGEN_EXAMEN', 'LEERJAAR_8', 'ONTHEFFING_REDEN_ND',
       'CET_AANTAL', 'CET_GEM', 'IEP_AANTAL', 'IEP_GEM', 'ROUTE8_AANTAL',
       'ROUTE8_GEM', 'DREMPEL_AANTAL', 'drempel_gem', 'DIA_AANTAL', 'DIA_GEM',
       'CESAN_AANTAL', 'CESAN_GEM', 'AMN_AANTAL', 'AMN_GEM'],
      dtype='object')

,SCHOOL_ID,PEILDATUM_LEERLINGEN,EXAMEN_JAAR,BRIN_NUMMER,VESTIGINGSNUMMER,INSTELLINGSNAAM_VESTIGING,POSTCODE_VESTIGING,PLAATSNAAM,GEMEENTENUMMER,GEMEENTENAAM,...,ROUTE8_AANTAL,ROUTE8_GEM,DREMPEL_AANTAL,drempel_gem,DIA_AANTAL,DIA_GEM,CESAN_AANTAL,CESAN_GEM,AMN_AANTAL,AMN_GEM
0,000AP,20141001,2015,00AP,0,De Schanskorf,2715BT,ZOETERMEER,637,Zoetermeer,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1,000AR,20141001,2015,00AR,0,"BS ""De Maasparel""",6109AM,OHE EN LAAK,1641,Maasgouw,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,000AV,20141001,2015,00AV,0,De Morgenster,3201CN,SPIJKENISSE,612,Spijkenisse,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
3,000AZ,20141001,2015,00AZ,0,De Kiezel en de Kei,2971AR,BLESKENSGRAAF CA,1927,Molenwaard,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
4,000BA,20141001,2015,00BA,0,OBS De Klimboom,6666EB,HETEREN,1734,Overbetuwe,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0

I know that most common final test in the primary schools in The Netherlands is CET, so I want to see how many of schools choose different type of exams and is there any schools which don't have any info about exams:

In [811]:
schools_without_exams = data_score[(data_score['CET_AANTAL'] == 0) & 
                               (data_score['DREMPEL_AANTAL'] == 0) & (data_score['AMN_AANTAL'] == 0) 
                                & (data_score['CESAN_AANTAL'] == 0) & (data_score['DIA_AANTAL'] == 0) 
                                & (data_score['ROUTE8_AANTAL'] == 0) & (data_score['IEP_AANTAL'] == 0)]
schools_only_CET = data_score[(data_score['CET_AANTAL'] > 0) & 
                               ((data_score['DREMPEL_AANTAL'] == 0) & (data_score['AMN_AANTAL'] == 0) 
                                & (data_score['CESAN_AANTAL'] == 0) & (data_score['DIA_AANTAL'] == 0) 
                                & (data_score['ROUTE8_AANTAL'] == 0) & (data_score['IEP_AANTAL'] == 0))]

schools_few_exams = data_score[(data_score['CET_AANTAL'] > 0) & 
                               ((data_score['DREMPEL_AANTAL'] > 0) | (data_score['AMN_AANTAL'] > 0) 
                                | (data_score['CESAN_AANTAL'] > 0) | (data_score['DIA_AANTAL'] > 0) 
                                | (data_score['ROUTE8_AANTAL'] > 0) | (data_score['IEP_AANTAL'] > 0))]
schools_exams = data_score[(data_score['CET_AANTAL'] > 0) | 
                               (data_score['DREMPEL_AANTAL'] > 0) | (data_score['AMN_AANTAL'] > 0) 
                                | (data_score['CESAN_AANTAL'] > 0) | (data_score['DIA_AANTAL'] > 0) 
                                | (data_score['ROUTE8_AANTAL'] > 0) | (data_score['IEP_AANTAL'] > 0)]
print(data_score.shape)
print(schools_exams.shape)
print(schools_without_exams.shape)
print(schools_without_exams.head())

(33759, 31)
(32253, 31)
(1506, 31)
   SCHOOL_ID  PEILDATUM_LEERLINGEN  EXAMEN_JAAR BRIN_NUMMER  VESTIGINGSNUMMER  \
8      000BZ              20141001         2015        00BZ                 0
24     000EH              20141001         2015        00EH                 0
26     000EM              20141001         2015        00EM                 0
41     000IH              20141001         2015        00IH                 0
44     000JH              20141001         2015        00JH                 0

   INSTELLINGSNAAM_VESTIGING POSTCODE_VESTIGING              PLAATSNAAM  \
8    Geref SBO Het Speelwerk             8031HL                  ZWOLLE
24      Geref SSBO De Cirkel             2907TK  CAPELLE AAN DEN IJSSEL
26         SSBO De Wijngaard             2992KK             BARENDRECHT
41                De Horizon             6835HZ                  ARNHEM
44          SSBO De Kameleon             7901JN               HOOGEVEEN

    GEMEENTENUMMER            GEMEENTENAAM  ... ROUTE8_AANTAL ROUTE8_GEM  \
8              193                  Zwolle  ...             0        0.0
24             502  Capelle aan den IJssel  ...             0        0.0
26             489             Barendrecht  ...             0        0.0
41             202                  Arnhem  ...             0        0.0
44             118               Hoogeveen  ...             0        0.0

   DREMPEL_AANTAL  drempel_gem  DIA_AANTAL  DIA_GEM  CESAN_AANTAL  CESAN_GEM  \
8               0          0.0           0      0.0             0        0.0
24              0          0.0           0      0.0             0        0.0
26              0          0.0           0      0.0             0        0.0
41              0          0.0           0      0.0             0        0.0
44              0          0.0           0      0.0             0        0.0

    AMN_AANTAL  AMN_GEM
8            0      0.0
24           0      0.0
26           0      0.0
41           0      0.0
44           0      0.0

[5 rows x 31 columns]

In [787]:
schools_NOT_CET = data_score[data_score['CET_AANTAL'] > 0]
schools_NOT_CET.head()

,SCHOOL_ID,PEILDATUM_LEERLINGEN,EXAMEN_JAAR,BRIN_NUMMER,VESTIGINGSNUMMER,INSTELLINGSNAAM_VESTIGING,POSTCODE_VESTIGING,PLAATSNAAM,GEMEENTENUMMER,GEMEENTENAAM,...,ROUTE8_AANTAL,ROUTE8_GEM,DREMPEL_AANTAL,drempel_gem,DIA_AANTAL,DIA_GEM,CESAN_AANTAL,CESAN_GEM,AMN_AANTAL,AMN_GEM
0,000AP,20141001,2015,00AP,0,De Schanskorf,2715BT,ZOETERMEER,637,Zoetermeer,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1,000AR,20141001,2015,00AR,0,"BS ""De Maasparel""",6109AM,OHE EN LAAK,1641,Maasgouw,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,000AV,20141001,2015,00AV,0,De Morgenster,3201CN,SPIJKENISSE,612,Spijkenisse,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
3,000AZ,20141001,2015,00AZ,0,De Kiezel en de Kei,2971AR,BLESKENSGRAAF CA,1927,Molenwaard,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
4,000BA,20141001,2015,00BA,0,OBS De Klimboom,6666EB,HETEREN,1734,Overbetuwe,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0

And last (but not least) what we should do - remove all unnecessary columns:

In [788]:
#data_score.drop('PEILDATUM_LEERLINGEN', 1, inplace = True)
#data_score.drop('BRIN_NUMMER', 1, inplace = True)
#data_score.drop('VESTIGINGSNUMMER', 1, inplace = True)
#data_score.drop('DREMPEL_AANTAL', 1, inplace = True)
#data_score.drop('drempel_gem', 1, inplace = True)

In [789]:
print(data_score.shape)
print(data_score.columns)
data_score.head()

(33759, 31)
Index(['SCHOOL_ID', 'PEILDATUM_LEERLINGEN', 'EXAMEN_JAAR', 'BRIN_NUMMER',
       'VESTIGINGSNUMMER', 'INSTELLINGSNAAM_VESTIGING', 'POSTCODE_VESTIGING',
       'PLAATSNAAM', 'GEMEENTENUMMER', 'GEMEENTENAAM', 'PROVINCIE', 'SOORT_PO',
       'DENOMINATIE_VESTIGING', 'BEVOEGD_GEZAG_NUMMER',
       'AANTAL_LEERLINGEN_EXAMEN', 'LEERJAAR_8', 'ONTHEFFING_REDEN_ND',
       'CET_AANTAL', 'CET_GEM', 'IEP_AANTAL', 'IEP_GEM', 'ROUTE8_AANTAL',
       'ROUTE8_GEM', 'DREMPEL_AANTAL', 'drempel_gem', 'DIA_AANTAL', 'DIA_GEM',
       'CESAN_AANTAL', 'CESAN_GEM', 'AMN_AANTAL', 'AMN_GEM'],
      dtype='object')

,SCHOOL_ID,PEILDATUM_LEERLINGEN,EXAMEN_JAAR,BRIN_NUMMER,VESTIGINGSNUMMER,INSTELLINGSNAAM_VESTIGING,POSTCODE_VESTIGING,PLAATSNAAM,GEMEENTENUMMER,GEMEENTENAAM,...,ROUTE8_AANTAL,ROUTE8_GEM,DREMPEL_AANTAL,drempel_gem,DIA_AANTAL,DIA_GEM,CESAN_AANTAL,CESAN_GEM,AMN_AANTAL,AMN_GEM
0,000AP,20141001,2015,00AP,0,De Schanskorf,2715BT,ZOETERMEER,637,Zoetermeer,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1,000AR,20141001,2015,00AR,0,"BS ""De Maasparel""",6109AM,OHE EN LAAK,1641,Maasgouw,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,000AV,20141001,2015,00AV,0,De Morgenster,3201CN,SPIJKENISSE,612,Spijkenisse,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
3,000AZ,20141001,2015,00AZ,0,De Kiezel en de Kei,2971AR,BLESKENSGRAAF CA,1927,Molenwaard,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
4,000BA,20141001,2015,00BA,0,OBS De Klimboom,6666EB,HETEREN,1734,Overbetuwe,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0

In [790]:
# объединение нескольких фреймов
#data_score = reduce(lambda left,right: pd.merge(left, right, on=['PRIKDATUM_SCORES']),
#                                                how='outer',
#                    data_frames).fillna('')